.project-card {
  padding: 1em 1em;
  border-radius: 0.5em;
  border: 1px solid #f0f0f0;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2); 
  color: var(--primary-color);
  width: fit-content;
  background: #fff;
}

.content {
  border-radius: 0.5em;
  background: #f6faff;
  padding: 1em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen-one {
  position: absolute;
  position: initial;
  width: 56%;
  width: 85%;
  left: 1.5em;
  top: 1em;
}

h3 {
  font-weight: 700;
  margin: 1em 0 0.5em 0;
  font-size: 1.35rem;
  text-align: center;
}

.sub-title {
  margin: 0; 
  margin-bottom: 0.75em;
  font-size: 0.9rem;
  text-align: center;
}

.description {
  font-size: 0.9rem;
  line-height: 1.85em;
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .project-card {
    width: 65%;
  } 
}

@media (min-width: 900px) {
  .project-card {
    width: 50%;
  } 
}

@media (min-width: 1200px) {
  .project-card {
    width: 35%;
  } 
}

@media (min-width: 1500px) { 
  .project-card {
    width: 30%;
  } 

  h3 {
    font-size: 1.65rem;
  }

  .sub-title {
    margin: 0; 
    margin-bottom: 0.75em;
    font-size: 1.1rem;
    text-align: center;
  }

  .description {
    font-size: 1rem;
  }
}