.work-details li {
  margin-bottom: 1em;
}

.skill-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.skill-block {
  padding: 0.65em 1.25em;
  background: var(--primary-color);
  color: white;
  border-radius: 2em;
  font-size: 0.7rem;
  font-weight: 500;
  margin: 1.5em 0.5em 1em 0.5em;
}

@media (min-width: 1500px) { 
  .work-details li {
    font-size: 1.05rem;
  }

  .skill-block {
    font-size: 0.8rem;
  }
}