.nav {
  display: none;
}

.nav-item:hover, .nav-item-bar:hover {
  font-weight: 500;
}

.nav-item-bar {
  width: 3px;
  margin: 0 auto;
  background: #C4C4C4;
  font-size: 0.78rem;
  display: flex;
  color: #C4C4C4;
  align-items: center;
  cursor: pointer;
}

.nav-item-bar p {
  height: 100%;
  margin: 0;
  padding: 2.5em 0;
  margin-left: 1em;
  display: flex;
  align-items: center;
}

.active {
  background: var(--primary-color);
  color: var(--primary-color);
  font-weight: 500;
}

@media (min-width: 900px) { 
  .nav {
    display: unset;
    position: fixed;
    z-index: 2;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
}