.container {
  min-height: 100vh;
  background: #F8F9FB;
  text-align: left;
  width: 100%;
  padding-top: 2em;
}

.row {
  margin: 0 auto;
  gap: 1em;
}

.col {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.text-col {
  flex: 1;
}

.icon-col {
  flex: 1;
}

.text-content {
  line-height: 2em;
}

.skill-block {
  margin-top: 1em;
  padding: 0em 0em 3em 0em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 3.5em;
}

.skill-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

@media (min-width: 900px) { 
  .skill-block {
    padding: 0em 3em;
  }

  .row {
    flex-direction: column;
  }
}

@media (min-width: 1200px) { 
  .row {
    flex-direction: row;
  }
}