.container {
  min-height: 100vh;
  background: #F8F9FB;
  text-align: left;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.skill-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.skill-block {
  margin-top: 1em;
  padding: 0em 0em 3em 0em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 900px) { 
  .skill-block {
    padding: 0em 3em;
  }
}

@media (min-width: 1500px) { 
  .container {
    min-height: unset;
    padding: 5em 0 10em 0;
  }
}