.container {
  padding: 2em 1em 7em 1em;
}

.separator {
  border-top: 2px solid #90BBD4;
  position: relative;
  margin-bottom: 1.5em;
}

.separator:before {
  position: absolute;
  width: 9em;
  height: 0.35em;
  background: #90BBD4;
  content: '';
  top: -0.45em;
  left: 0;
}

#experience {
  font-size: 0.925rem;
}

.title-col {
  align-self: flex-start;
  flex-basis: 11%;
}

.detail-col {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-weight: 600;
}

@media (min-width: 900px) { 
  .skill-block {
    margin: 1.5em 0.5em 2em 0.5em;
  }
}