.nav-links {
  z-index: 100;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F8F9FB;
  background: #FFF;
  margin: 0;
  padding: 1em;
}

.link {
  margin-right: 2.5em;
  color: #31708E;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}

.logo {
  width: 2.25em;
  margin-left: 1em;
}

@media (min-width: 1500px) { 
  .link {
    font-size: 1.1rem;
  }
}