@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800&display=swap');

:root {
  --primary-color: #31708E;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3em;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  width: 80%;
} 

img {
  max-width: 100%;
} 

a {
  text-decoration: none;
}

section {
  height: 100%;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-delay: 0.5s;
  background: #FFF;
  color: var(--primary-color);
  flex: 1 1 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.title {
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;
  position: relative;
}

@media (min-width: 900px) { 
  .row {
    flex-direction: row;
  }

  .wrapper {
    width: 75%;
  }
}