@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800&display=swap');

:root {
  --main-bg-color: #3F4B58;
  --card-color: #455261;
  --accent-color: #1c97e3;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3em;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  width: 80%;
} 

img {
  max-width: 100%;
} 

a {
  text-decoration: none;
}

section {
  height: 100%;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-delay: 0.5s;
  background: #F8F9FB;
  background: #FFF;
  color: #31708F;
  flex: 1 1 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.title {
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;
  position: relative;
}

.titl:before {
  position: absolute;
  content: '';
  width: 30%;
  height: 0.25em;
  left: 0;
  top: 0.5em;
  bottom: 0;
  background: #31708F;
  border-radius: 1em;
}

@media (min-width: 900px) { 
  .row {
    flex-direction: row;
  }
}